:root {
    --color:darkgreen;
}

body {
    background: #f2f2f2;
}

.container {
    margin: 0px 30px;
}

.header {
    background: gray;
    width: 100%;
    height: auto;

    /*nav {
        display: none;
    }

    .mobile-menu {
        cursor: pointer;
        right: 0;
    }*/
}

.header-one {
    display: flex;
    list-style-type: none;
    margin: 0;
    padding-left: 8em;
}

.header-one a {
    text-decoration: none;
    padding: 0.5em;
    display: block;
    font-size: 1em;
    text-align: right;
    color: white;
    text-transform: uppercase;
    margin: auto;
}

.number {
    display: none;
    /*background: rgb(238, 82, 39);
    text-align: center;
    width: auto;
    margin-bottom: -2.3em;
    border-bottom: 1px;
    border-bottom-left-radius: 7px;
    border-bottom-right-radius: 7px;

    a {
        margin-top: 35px;
    }*/
}


.mobile-menu {
    cursor: pointer;
    align-self: end;
    padding: 10px 0px;
    float: left;
}



.header1 {
    background: white;

    .container {
        display: flow-root;
    }

    .box {
        width: auto;
        height: auto;
        //background: rgb(107, 219, 219);
        padding: 10px 0px;
        //padding-top: 65px;
        right: 0;
        /*border: 2px solid black;
        border-radius: 20px;*/
        margin-top: 10px;
        float: right;
        
        .logo {
            text-decoration: none;
            color: rgb(0, 0, 0);
            font-size: 1.5em;
            text-align: right;

            span {
                font-weight:bolder;
                font-size: 1.6em;
                
            }            
        }
    }

    

    nav {
        display: none;
    }
}

/*.header-two {
    display: flex;
    list-style-type: none;
    margin: -2em;
    padding-left: 17em;
}

.header-two a {
    text-decoration: none;
    padding: 0.5em 1em;
    display: block;
    font-size: 1em;
    text-align: right;
    color: black;
    text-transform: uppercase;
}*/

.hero {
    background: var(--color);
    margin-top: .7em;
    height: 13em;
    
    .container {
        display: block;
    }

    .side {
        display: block;
       

        .left-col {
           color: white;
        }

        .hero-img {
            height: 13em;
            width: 100%;
        }
    }

    .side-content {
        text-transform: uppercase;
        height: 13em;
        width: 30%;
        float: left;
        text-align: center;   
        position: absolute;
        opacity: 0.5;
        background-color: black;
        justify-content: center;
        display: flex;
        flex-direction: column;     

        span {
            font-size: 2em;
        }
    }
}


.hero1 {
    background: rgb(228, 228, 228);

    .container {
        background: linear-gradient(to right, darkgreen, rgb(84, 138, 84));
    }
    
    .hero-text {
        margin: 0px;
        padding: .5em 2em;
        font-size: larger;
    }
}

.features {
    background: rgb(228, 228, 228);

    .container {
        background: white;
        
        .cont {
            padding: 1.5em;
        }
        
        h2 {
            color: var(--color);
            margin: 0;
            cursor: pointer;
        }
        
        .left-features {
            display: grid;

            .left-features-detail {
                display: none;
            }

            .left-features-img {
                margin:auto;
                margin-top: 1em;
            }
            
            .img {
                width: 15em;
                height: 10em;
            }
        }
    }
}

/*.left-features-detail {
    width: 50%;
    font-size: large;
    margin-bottom: 30px;
}

.go-feature {
    border: 2px solid black;
    border-radius: 8px;
    background: rgb(91, 91, 91);
    color: white;
    text-decoration: none;
    padding: 8px;
}

*/

.features-list {
    display: none;
}

/*figure {
    margin: auto;
    margin-left: 0;
    margin-right: auto;
    flex: auto;
}

figcaption {
    padding-top: 5px;
    text-transform: capitalize;
    color: darkgreen;
}*/

.features-detail {
    display: grid;
    margin-top: auto;
    
    ul {
        list-style-type: none;
        padding-left: 0;
    }
    
    h1 {
        text-transform: capitalize;
        margin-bottom: 10px;
        color: darkgreen;
        cursor: pointer;
    }
    
    p {
        margin-top: 10px;
        font-size: large
    }

    .go-feature {
        display: flex;
        border: 2px solid black;
        border-radius: 8px;
        background: rgb(91, 91, 91);
        color: white;
        text-decoration: none;
        padding: 8px;
        cursor: pointer;
        width:fit-content;
        height:20px;

        p {
            margin: 0;
        }
        img {
            padding-left: 10px;
            width: 30px;
           
        }
    }
}

.basic-features {
    background: rgb(228, 228, 228);
    
    .container {
        margin: 0px 30px;
        background: rgb(212, 212, 212);
        
        .cont1 {
            padding: 2em 2em;

            h2 {
                font-size: larger;
                margin: 0;
            }

            p {
                margin-top: 10px;
                font-size: large
            }
        }
    }
}

.footer {
    background: rgb(137, 137, 137);
    
    .first {
        display: flex;
        
        .first-detail {
            display: flex;
            list-style-type: none;
            text-transform: capitalize;
            margin-right: 1em;
            cursor: pointer;
        }

        .first-img {
            display: none;
        }
    }

    p {
        text-align: center;
        margin: 1em 0;
    }

    .footer-list {
        display: none;
        /*display: grid;
        list-style-type: none;
        margin: .5em .5em .5em 2em;
        text-align: justify;*/      
    }


}

/*.first-img {
    display: flex;
    margin: auto;
    list-style-type: none;
    width: fit-content;
}*/

nav.menu-btn {
    display: block;
}

nav {
    position: fixed;
    z-index: 999;
    width: 50%;
    left: 0;
    top: 0;
    background: #394149;
    height: 100vh;
    padding: 1em;

    ul.header-two {
        margin-top: 2.7em;
    }

    li {   
        list-style-type: none;

        a {
            color: white;
            text-decoration: none;
            display: block;
            padding: .3em;
            font-size: 1.3em;
            text-align: left;
            
            &:hover {
                font-weight: bold;
            }
        }
    }
}

.mobile-exit {
    float: left;
    margin: .5em;
    cursor: pointer;
}
/*

.header1 nav.menu-btn {
    display: block;
}

.header1 nav {
    position: fixed;
    z-index: 999;
    width: 50%;
    right: 0;
    top: 0;
    background: #394149;
    height: 100vh;
    padding: 1em;

    ul.header-two {
        margin-top: 2.7em;
    }

    li {   
        list-style-type: none;

        a {
            color: white;
            text-decoration: none;
            display: block;
            padding: .3em;
            font-size: 1.3em;
            text-align: right;

            &:hover {
                font-weight: bold;
            }
        }
    }
}

.mobile-exit {
    float: right;
    margin: .5em;
    cursor: pointer;
}*/


@media only screen and(min-width: 916px) {
    .mobile-menu, .mobile-exit {
        display: none;
    }

    .header .container {
        display: flow-root;
    }

    .header .header-one {
        float: right;
    }

    .header1 .container {
        display: grid;
        grid-template-columns: 25px auto;
    }

    .header1 .box {
        width: max-content;
        background: var(--color);
        margin: 0px;
        height: max-content;
        margin-bottom: 1em;

        .logo {
            font-size: 2em;

            sup {
                display: contents;
            }

            span {
                font-size: 1.1em;
                margin-right: .2em;
            }
            
            sub {
                display: contents;
                margin-left: auto;
            }
        }
    }
    
    .container nav {
        display: flex;
        //grid-template-columns: auto;
        justify-content: space-between;
        background: none;
        position: absolute;
        height: auto;
        width: auto;
        //padding: auto;
        margin-top: 4.5em;

        ul {
            display: flex;
            //margin: 6.5em 1em 0em auto;
            margin-top: 1em;
            margin-left: -1em;
            //padding: auto;
            width:50%;
    
        }

        /*li {
            width: max-content;
            margin: 0;
            
        }*/

        a{
            color: black;
            font-size: 1em;
            padding: auto;
            //display: block;
            text-align: right;
            color: black;
            text-transform: uppercase;
            margin: auto;
        }
    }


    .hero {
        margin-top: 1.2em;
    }

    .features .container .left-features {
        display: flex;

        .left-features-detail {
            display: block;
            width: 50%;

            .go-feature {
                display: flex;
                border: 2px solid black;
                border-radius: 8px;
                background: rgb(91, 91, 91);
                color: white;
                text-decoration: none;
                padding: 8px;
                cursor: pointer;
                width:fit-content;
                height:20px;
        
                p {
                    margin: 0;
                }
                img {
                    padding-left: 10px;
                    width: 30px;
                   
                }
            }
        }

        .left-features-img {
            margin: auto;
            width: max-content;

            img {
                width: fit-content;
                height: fit-content;
            }
        }
    }

    .features .container .features-list {
        display: flex;
        padding: auto;

        figure {
            margin: auto;
            
            img {
                width: 7em;
                margin-top: 2em;   
            }

            figcaption {
                font-size: 1em;
                margin: auto;
            }
        }
    }

    .features .container .features-detail {
        display: flex;

        ul {
            margin: 1.5em;
            padding: auto;
        }
    }

    .footer .first{
        display: flex;
        width: fit-content;
        margin: auto;

        .first-detail {
            margin: 2em;
            padding: auto 2em;

            li {
                margin-right: 1em;
            }
        }

        .first-img {
            display: flex;
            list-style-type: none;
            padding: 0;
            cursor: pointer;

            li {
                img {
                    width: 2em;
                    height: 2em;
                    margin: 1em;
                }  
            }
        }
    }

    .second {
        cursor: pointer;
    }

    .footer .footer-list {
        display: flex;
        padding: auto;
        cursor: pointer;

        li {
            list-style-type: none;
            margin: auto;
        }
    }
}
    
@media only screen and(min-width: 1300px) {
    .header .header-one .number{
        display: block;
        background: rgb(238, 82, 39);
        text-align: center;
        width: auto;
        margin-bottom: -2.3em;
        border-bottom: 1px;
        border-bottom-left-radius: 7px;
        border-bottom-right-radius: 7px;

        a {
            margin-top: 35px;
        }
    }

    .header1 .box {       
        background: var(--color);
        margin: 0px;
        
        .logo {
            display: grid;
            font-size: 2em;
            
            sup {
                display: flex;
            }

            sub {
                display: flex;
            }
        }
    }

    .container nav {
        display: flex;
        //background: #394149;
        margin-top: 8em;
        height: fit-content;
        //width: 100%;

        ul {
            float: right;
            //right: 0;
            margin-left: auto;
            padding: 0;
        }
    }

    .footer .first {
        .first-detail {
            float: left;
            margin: auto;
        }
    }
}